#container{
    background-color: rgb(128, 160, 165);
    height: 40vw;
    width: 40vw;
    background-image: url("icons/clock.png");
    background-size:100% ;
    border-radius: 259px;
    margin: auto auto;
    background-repeat: no-repeat;
    position: relative;
}
*{
    box-sizing: border-box;
}
#hourHand{
    background-color: rgb(21, 18, 18);
    position: absolute;
    height: 32%;
    width: 3%;
    border-radius: 67%;
    top: 18.4%;
    right: 48.5%;
    transform-origin: bottom;
  }
  #minHand{
    background-color: rgb(21, 18, 18);
    position: absolute;
    border-radius: 53%;
    top: 7.4%;
    height: 43%;
    width: 1.9%;
    right: 49%;
    transform-origin: bottom;
  }
  #secHand{
    background-color: rgb(222, 4, 4);
    position: absolute;
    border-radius: 53%;
    right: 49.6%;
    height: 43%;
    width: 0.9%;
    top: 7.4%;
    transform-origin: bottom;
  }
  @media only screen and (max-width:800px){
    #container{
      background-color: rgb(191, 191, 84);
      height: 70vw;
      width: 70vw;
    }
  }